.badan {
    font-family: "Poppins", serif;
    /* font-weight: 100; */
    font-style: normal;
}

.bg-budiman {
    background-color: #0089d4;
}

.budiman {
    background-color: #0089d4;
}

.text-budiman {
    color: #0089d4;
}
